body {
  line-height: 1.3;
  background-color: #D8D9F2;
}

.wrapper {
  align-content: center;
  align-items: center;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 100%;
  justify-items: start;
  margin: 0 auto;
  max-width: 20rem;
  padding: 1rem;
}

.info {
  grid-column: 1;
  grid-row: 3;
}

.name {
  color: #F25C69;
  font-family: 'Poiret One', cursive;
  font-size: 3rem;
  margin: 0;
}

.role,
.description {
  color: #2D0140;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

.work {
  color: #2D0140;
  text-decoration: underline;
}

.work:hover {
  color: #2D0140;
}

.social {
  align-items: center;
  display: flex;
}

.social-link {
  margin-right: 1.5rem;
  opacity: 1;
  transition: opacity 300ms ease;
  width: 1.5rem;
}

.social-link:hover {
  opacity: .5;
}

/* Code bubble animation */

.code-bubble .lines path {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}

.code-bubble.animating .lines path{
  animation: coding 350ms ease-out forwards;
}

@keyframes coding {
  to {
    stroke-dashoffset: 0;
  }
}

.select-all {
  display: none;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 25rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .role {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .wrapper {
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 60rem;
    min-height: 100vh;
  }

  .code-bubble {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .title {
    align-self: end;
    grid-column: 2;
    grid-row: 1;
  }

  .info {
    align-self: start;
    grid-column: 2 / 2;
    grid-row: 2;
    margin-top: 0;
  }

  .description {
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    grid-template-columns: 4fr 6fr;
    max-width: 80rem;
  }

  .description {
    max-width: 35em;
  }
}

