.nav {
  margin-bottom: 3em;
}

.line {
  background-color: #FF4650;
  height: 0.5em;
}

.quote {
  text-align: right;
  font-family: 'Cabin', sans-serif;
  margin-right: 1em;
  margin-top: 1em;
  font-size: 1.2em;
  color: #CFCCCA;
  font-style: italic;
}

.avatar {
  background-image: url("../img/stivali.jpg");
  background-size: 110%;
  height: 8em;
  width: 8em;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 4em;
}

h3, h4, p, ul, footer {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

h3 {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 2em;
}

.break {
  border-bottom: 1px solid #CFCCCA;
  max-width: 10em;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

.intro {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.fa-caret-down {
  color: #CFCCCA;
}

.mail {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.mail a {
  transition: 0.2s ease-in-out;
}

.mail a:hover {
  color: #819bd5;
  text-decoration: none;
}

.social i {
  font-size: 2em;
  color: #706F6E;
  padding: 0.5em;
  margin-bottom: 1em;
  transition: .5s ease-in-out;
  opacity: 1;
}

.social i:hover {
  opacity: .5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .avatar {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .avatar:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
