.nav p {
  text-align: right;
  color: #b8b8b8;
  font-size: 20px;
  padding: 14px 10px;
  font-family: Crimson Text;
  margin-top: 15px;
}

.jumbotron {
  border-color: #CE1D41;
  border-style: solid;
  border-width: 50px 100px 50px 100px;
  position: relative;
  margin-top:10px;
  background-color: #f7f7f7;
}

.jumbotron h1 {
  color: #202020;
  font-size: 55px;  
  font-family: Open Sans;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
  text-shadow: none;
}

.jumbotron h2 {
  font-size: 30px;
  color: #202020;
  font-family: Open Sans;
  text-align: center;
  margin-top: 20px;
  text-shadow: none;
}

.jumbotron p {

  font-family: serif;
  color: #444444;
  font-size: 20px;
  margin-top: 0px;
  text-shadow: none;
  text-align: center;
}

.jumbotron ul li a i {
    margin-top: 15px;
    color: black;
    font-size: 1.9em;
}

.learn-more h3 {
    color: #171717;
    font-size: 20px;
    text-align: center;
    font-family: Open Sans;
}

.learn-more p {
    font-size: 15px;
    margin-bottom: 13px;
    text-align: center;
    font-family: Open Sans;
    color: #202020;
}

@media only screen and (max-width: 480px) {
  .nav p {
    font-size: 15px;
    margin-bottom: -10px;
  }

  .jumbotron {
      border-width: 25px;
      border-color: #E0315F;
  }

  .jumbotron h1 {
      font-size: 30px;
  }

  .jumbotron h2 {
      font-size: 20px;
  }

  .jumbotron p {
      font-size: 15px;
  }

  .jumbotron ul li a i {
     font-size: 1.5em;
  }

  .learn-more h3 {
      font-size: 15px;
      margin-top: -7px;
  }

  .learn-more p {
      font-size: 13px;
  }
}
