.nav li {
  display: inline;
  color: #b8b8b8;
  font-size: 20px;
  padding: 14px 10px;
  font-family: palatino linotype;
}

.jumbotron {
  border-color: #c72b2b;
  border-style: solid;
  border-width: 50px 100px 50px 100px;
  position: relative;
  top:10px;
  background-color: #f7f7f7;
}

.jumbotron h1 {
  color: #202020;
  font-size: 55px;  
  font-family: century gothic, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  text-shadow: none;
}

.jumbotron h2 {
  font-size: 30px;
  color: #202020;
  font-family: century gothic;
  text-align: center;
  margin-top: 20px;
  text-shadow: none;
}

.jumbotron p {

  font-family: palatino;
  color: #444444;
  font-size: 20px;
  margin-top: 0px;
  text-shadow: none;
  text-align: center;
}

.jumbotron ul img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 20px;
}

.jumbotron li {
    display: inline;
}

.learn-more h3 {
    color: #393c3d;
    font-size: 20px;
    text-align: center;
    font-family: century gothic;
    font-weight: bold;

}

.learn-more p {
    font-size: 15px;
    margin-bottom: 13px;
    text-align: center;
    font-family: century gothic;
    color: #202020;
}
