.nav p {
  text-align: right;
  color: #b8b8b8;
  font-size: 20px;
  padding: 14px 10px;
  font-family: Crimson Text;
  margin-top: 15px;
}

.jumbotron {
  border-color: FA2D38;
  border-style: solid;
  border-width: 50px 100px 50px 100px;
  position: relative;
  top:10px;
  background-color: #f7f7f7;
}

.jumbotron h1 {
  color: #202020;
  font-size: 55px;  
  font-family: Open Sans;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
  text-shadow: none;
}

.jumbotron h2 {
  font-size: 30px;
  color: #202020;
  font-family: Open Sans;
  text-align: center;
  margin-top: 20px;
  text-shadow: none;
}

.jumbotron p {

  font-family: serif;
  color: #444444;
  font-size: 20px;
  margin-top: 0px;
  text-shadow: none;
  text-align: center;
}

.jumbotron ul li a i {
    margin-top: 15px;
    color: black;
    font-size: 1.9em;
}

.learn-more h3 {
    color: #171717;
    font-size: 20px;
    text-align: center;
    font-family: Open Sans;
}

.learn-more p {
    font-size: 15px;
    margin-bottom: 13px;
    text-align: center;
    font-family: Open Sans;
    color: #202020;
}
